---
import Container from "../components/container.astro";
import ImageCard from "../components/image-card.astro";
import ImgCardCategory from "../components/img-card-category.astro";
import Layout from "../layouts/Layout.astro";

const zugspitze = [
    '../hiking/summit_eibsee.jpeg',
    '../hiking/field_bg_zugspitze.jpeg',
    '../hiking/cloudy_zugspitze_bright.jpeg',
];

const kramer_summit = [
    '../hiking/route.jpeg',
    '../hiking/cloudy_zugspitze_bright.jpeg',
    '../hiking/field_bg_zugspitze.jpeg',
    '../hiking/steps_before_summit.jpeg',
];

const schwangau = [
    '../hiking/alpsee.jpeg',
    '../hiking/field_bg_zugspitze.jpeg',
    '../hiking/neuschwanstein.jpeg',
];

const munich = [
    '../munich/_.jpeg',
    '../munich/monopterus.jpeg',
    '../munich/gasteig.jpeg',
];

const architecture = [
    '../munich/altbau_front.jpeg',
    '../munich/architecture.jpeg',
    '../munich/haus_der_kunst.jpeg',
];

---

<Layout title="Living in Munich">
    <Container>
        <div class="flex flex-col md:gap-10 gap-8 divide-y">
            <div class="w-full flex justify-center md:pt-16 pt-12">
                <div class="relative font-semibold -left-5 md:-left-10 text-[4rem] md:text-[5rem]">
                    <div class="absolute -top-[4rem] md:-top-20 left-5 md:left-10">MUNICH</div>
                    <div class="absolute -top-[2rem] md:-top-10 left-10 md:left-20">MUNICH</div>
                    <div>MUNICH</div>
                </div>
            </div>
            <ImgCardCategory title="Living in Munich">
                <ImageCard images={munich} title="Landmarks">
                    this is the summary this is the summary this is the summary this is the summary this is the summary
                </ImageCard>
                <ImageCard images={architecture} title="Architecture">
                    this is the summary this is the summary this is the summary this is the summary this is the summary this is the summary
                </ImageCard>
            </ImgCardCategory>
            <ImgCardCategory title="Nearby Mountains">
                <ImageCard images={kramer_summit} title="Kramerspitz">
                    this is the summary this is the summary this is the summary this is the summary this is the summary this is the summary
                </ImageCard>
                <ImageCard images={zugspitze} title="Zugspitze (Highest Mountain, 2962m)">
                    this is the summary this is the summary this is the summary this is the summary this is the summary this is the summary
                </ImageCard>
                <ImageCard images={schwangau} title="Schwangau (Castle Neuschwanstein)">
                    this is the summary this is the summary this is the summary this is the summary this is the summary this is the summary
                </ImageCard>
            </ImgCardCategory>
        </div>
    </Container>
</Layout>
